@model MvcVeevonauts.Models.Item

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Item</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemTypeID, "Type")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ItemTypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.ItemTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubType)
            @Html.ValidationMessageFor(model => model.SubType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemArtUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemArtUrl)
            @Html.ValidationMessageFor(model => model.ItemArtUrl)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
