@model IEnumerable<MvcVeevonauts.Models.VirtualVeevonaut>

@{
    ViewBag.Title = "Virtual Veevonauts Database";
}

<h2>Virtual Veevonauts Database</h2>

@Html.ActionLink("Create New", "Create")

@using (Html.BeginForm("Index", "VirtualVeevonauts", FormMethod.Get))
{
    <p>
        Name: @Html.TextBox("searchString")
        Type: @Html.DropDownList("VeevonautType", "All")
        <input type="submit" value="Filter" />
    </p>
}

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th>
            Intelligence
        </th>
        <th>
            Athleticism
        </th>
        <th>
            Strength
        </th>
        <th>
            Speed
        </th>
        <th>
            Artistry
        </th>
        <th>
            ReactionTime
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intelligence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Athleticism)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Strength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Speed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artistry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReactionTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
